# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# IDE files
/.idea
.idea
/.idea_modules
*.iml
/.vscode

# Build Output
/dist

# Test Output
/test/e2e/screenshots
/.nyc_output

/logs
/doc